
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@functions 
{
    public string SearchImage()
    {
        bool flag = true;
        string url = "";
        while (flag)
        {
            int rand = new Random().Next(0, 999);
            url = string.Format("{0}{1}{2}", "http://replygif.net/i/", rand, ".gif");

            HttpWebResponse response = null;
            var request = (HttpWebRequest)WebRequest.Create(url);
            request.Method = "HEAD";

            try
            {
                response = (HttpWebResponse)request.GetResponse();
                flag = false;
            }
            catch (WebException ex)
            {
                flag = true;
            }
        }

        return url;
    }
}

<div class="center-div">
    <label class="big-label">404</label>
    <br />
    <label>página não encontrada</label>
    <br />
    <img src=@SearchImage() />
</div>

<style>
    .center-div{
        width:50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 10%;
    }
    .big-label{
        font-size: 100px;
        color: #0072C6;
    }
</style>