﻿@using System.Configuration;

@using Streaming.App_Start;

@{
    //string appTitle = ConfigurationManager.AppSettings["Aplicacao.Titulo"];

    //ViewBag.Title = ViewBag.Title ?? appTitle;
    
    string appTitle = ConfigurationManager.AppSettings["Aplicacao.Titulo"];

    if (ViewBag != null)
    {
        ViewBag.Title = ViewBag.Title ?? appTitle;
    }
}

<!doctype html>
<html xmlns="https://www.w3.org/1999/xhtml" lang="@StreamingSession.Session.SelectedLinguagem.Symbol">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9,IE=10,IE=11" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>@ViewBag.Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />

    <!-- jQuery library -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <!-- Popper.JS library -->
    <script src="~/Scripts/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- ProgressBar.js library -->
    <script src="~/Scripts/progressBar.min.js"></script>

    @Styles.Render("~/Content/theme/all.css")

    <link rel="shortcut icon" href="~/favicon.ico?v=3" />

    <script>
        $(document).ready(function () {
            var bar = new ProgressBar.Line(streamingProgressBarContainer, {
                strokeWidth: 4,
                easing: "easeInOut",
                duration: 1400,
                color: "@StreamingSession.Session.AplicacaoPortalBase.CorPortalBase",
                trailColor: "white",
                trailWidth: 1,
                svgStyle: {
                    width: '100%',
                    height: '100%'
                }
            });

            bar.animate(1.0);

            $.get("@Url.Action("LoadProfilePartial", "Base")", function (data) {
                $("[data-toggle='popover']").popover({
                    container: "body",
                    trigger: "focus",
                    template: '<div class="popover portalbase-navbar-profile" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>',
                    html: true,
                    content: data
                });
            });

            $('#streamingSidebarCollapse').click(function () {
                $('#streamingSidebar').toggleClass('active');
            });

            $("#searchPessoas").click(function () {
                var searchQuery = $("#searchPessoasSearchQuery").val();

                if (searchQuery != "") {
                    $("#searchPessoas").prop("disabled", true);
                    $("#searchPessoasButtonIcon").removeClass("fa fa-search").addClass("fa fa-circle-o-notch fa-spin");

                    $("#searchPessoasModalContent").load("@Url.Action("SearchPessoas", "Base")", { searchQuery: searchQuery }, function () {
                        $("#searchPessoasModal").modal("show");

                        $("#searchPessoasButtonIcon").removeClass("fa fa-circle-o-notch fa-spin").addClass("fa fa-search");
                        $("#searchPessoas").prop("disabled", false);
                    });
                }
            });
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg portalbase-navbar">
        @if (Autenticacao.IsLoggedIn() == true && (StreamingSession.Session.MenuLateral.Count > 0 || StreamingSession.Session.AplicacoesPortalBaseMenuLateral.Count > 0))
        {
            <span id="streamingSidebarCollapse" class="portalbase-navbar-sidebar-toggle">
                <img src=@Url.Content("~/Content/Images/menuresponsiveicon.png")>
            </span>
        }

        <a href="@Url.Action("Index", "Home")" class="portalbase-app-square small" style="background-color: @StreamingSession.Session.AplicacaoPortalBase.CorPortalBase">
            <span>@StreamingSession.Session.AplicacaoPortalBase.SiglaPortalBase</span>
        </a>

        <span class="navbar-brand mr-auto portalbase-navbar-apptitle"><a href="@Url.Action("Index", "Home")">@appTitle</a></span>

        <ul class="navbar-nav ml-auto">
            @if (Autenticacao.IsLoggedIn() == true)
            {
                <li class="nav-item">
                    <span class="fa fa-user fa-2x portalbase-navbar-icon" tabindex="0" data-toggle="popover" data-placement="bottom"></span>
                </li>

                <li class="nav-item">
                    <a class="nav-link portalbase-navbar-loginbutton" href="@Url.Action("Logout", "Session")" style="background-color: @StreamingSession.Session.AplicacaoPortalBase.CorPortalBase;">
                        Terminar Sessão
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    @if (Convert.ToBoolean(ConfigurationManager.AppSettings["Auth.UTAD.Shibboleth"]) == true)
                    {
                        <a class="nav-link portalbase-navbar-loginbutton" href="@Url.Action("Index", "Secure")" style="background-color: @StreamingSession.Session.AplicacaoPortalBase.CorPortalBase;">
                            Iniciar Sessão
                        </a>
                    }
                    else
                    {
                        <a class="nav-link portalbase-navbar-loginbutton" href=@Url.Action("Login", "Session") style="background-color: @StreamingSession.Session.AplicacaoPortalBase.CorPortalBase;">
                            Iniciar Sessão
                        </a>
                    }
                </li>
            }

            @if (StreamingSession.Session.Linguagens.Count > 0)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle portalbase-navbar-linguagens" title="@StreamingSession.Session.SelectedLinguagem.Titulo" href="#" role="button" data-toggle="dropdown">
                        @StreamingSession.Session.SelectedLinguagem.Ref
                    </a>
                    <div class="dropdown-menu portalbase-navbar-linguagens-menu">
                        @foreach (StreamingAssemblies.Models.QuoVadis.Aplicacoes.Linguagem item in StreamingSession.Session.Linguagens.Where(l => l.Symbol != StreamingSession.Session.SelectedLinguagem.Symbol))
                        {
                            <a class="dropdown-item" title="@item.Titulo" href="@Url.Action("ChangeLinguagem", "Base", new { symbol = item.Symbol })">
                                @item.Ref
                            </a>
                        }
                    </div>
                </li>
            }
        </ul>
    </nav>

    <div id="streamingProgressBarContainer" class="portalbase-progressbar-container"></div>

    <div class="d-flex">
        @if (Autenticacao.IsLoggedIn() == true && (StreamingSession.Session.MenuLateral.Count > 0 || StreamingSession.Session.AplicacoesPortalBaseMenuLateral.Count > 0))
        {
            <nav id="streamingSidebar" class="portalbase-sidebar">
                @*<a title="Dashboard" href="https://quovadis.utad.pt/Dashboard/" class="list-group-item list-group-item-action">
                    <span class="fa fa-user-circle-o"></span>
                    Dashboard
                    <span class="fa fa-angle-right"></span>
                </a>*@

                <div class="input-group">
                    <input id="searchPessoasSearchQuery" type="text" class="form-control" placeholder="pessoas.utad.pt">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="searchPessoas">
                            <span id="searchPessoasButtonIcon" class="fa fa-search"></span>
                        </button>
                    </div>
                </div>

                @if (StreamingSession.Session.MenuLateral.Count > 0)
                {
                    <div class="list-group">
                        @{
                            Html.RenderPartial("_MenuLateralPartial", StreamingSession.Session.MenuLateral);
                        }
                    </div>

                    <br />
                }

                @if (StreamingSession.Session.AplicacoesPortalBaseMenuLateral.Count > 0)
                {
                    <div class="list-group">
                        @{
                            Html.RenderPartial("_MenuLateralPartial", StreamingSession.Session.AplicacoesPortalBaseMenuLateral);
                        }
                    </div>
                }
            </nav>

            <div class="modal fade" id="searchPessoasModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
                    <div id="searchPessoasModalContent" class="modal-content">

                    </div>
                </div>
            </div>
        }

        <div class="col">
            <div class="portalbase-main">
                <div id="alerts">
                    @{
                        Html.RenderPartial("_AlertsPartial");
                    }
                </div>

                @RenderBody()
            </div>

            <footer class="portalbase-footer">
                <div class="pt-1 text-muted text-center">
                    @if (Convert.ToBoolean(ConfigurationManager.AppSettings["Aplicacao.GetFooterFromQuoVadis"]) == true)
                    {
                        <span><b><small>Universidade de Trás-os-Montes e Alto Douro - NSI @DateTime.Now.Year</small></b></span> <br />
                        <a href=@Url.Content(StreamingSession.Session.Footer.LinkContatos)><b><small>&#9642; Contatos</small></b></a>
                        <a href=@Url.Content(StreamingSession.Session.Footer.LinkPolPriv)><b><small>&#9642; Política de Privacidade</small></a>
                        <div>
                            <img src=@Url.Content("https://assets.utad.pt/images/" + StreamingSession.Session.Footer.FooterImage) alt="QREN" />
                            <span>
                                <a href="https://www.w3.org/WAI/WCAG2AAA-Conformance" title="Explanation of WCAG 2.0 Level Triple-A Conformance">
                                    <img height="32" width="88" src="https://www.w3.org/WAI/wcag2AAA" alt="Level Triple-A conformance, W3C WAI Web Content Accessibility Guidelines 2.0">
                                </a>
                            </span>
                        </div>
                    }
                    else
                    {
                        <span><b><small>Universidade de Trás-os-Montes e Alto Douro - NSI @DateTime.Now.Year</small></b></span>
                        <div>
                            <img src=@Url.Content("~/Content/Images/qrenlogos.png") alt="QREN" />
                            <div>
                                <span>
                                    <a href="https://www.w3.org/WAI/WCAG2AAA-Conformance" title="Explanation of WCAG 2.0 Level Triple-A Conformance">
                                        <img height="32" width="88" src="https://www.w3.org/WAI/wcag2AAA" alt="Level Triple-A conformance, W3C WAI Web Content Accessibility Guidelines 2.0">
                                    </a>
                                </span>
                            </div>
                        </div>
                    }
                </div>
            </footer>
        </div>
    </div>
</body>
</html>