@using Streaming.App_Start;

<div class="row">
    <div class="col-md-2 portalbase-navbar-profile-foto">
        @if (string.IsNullOrEmpty(StreamingSession.Session.FotoHTMLSrc) == false)
        {
            <img src=@StreamingSession.Session.FotoHTMLSrc alt="Imagem de perfil" style="max-width: 50px;" />
        }
        else
        {
            <img src=@Url.Content("~/Content/Images/iconPerfil.png") alt="Imagem de perfil" />
        }
    </div>
    <div class="col-md-10">
        <p>
            @StreamingSession.Session.Nome
        </p>

        @if (Autenticacao.IsAdmin() == true)
        {
            <p>
                (ADMINISTRADOR)
            </p>
        }

        @if (Autenticacao.IsEstudante() == true)
        {
            <p>
                <label><b>Regime:</b></label>  @StreamingSession.Session.Regime
            </p>
            <p>
                <label><b>Número:</b></label> @StreamingSession.Session.Username
            </p>
        }

        @if (Autenticacao.IsTemporario() == true)
        {
            <p>
                (CONTA TEMPORÁRIA)
            </p>
        }

        @if (Autenticacao.IsTemporario() == true)
        {
            <a href=@Url.Action("EditCredenciaisTemporarias", "Session", new { username = StreamingSession.Session.Username })>
                O Meu Perfil
            </a>

            <span>|</span>
        }
        else if (Autenticacao.IsEstudante() == false)
        {
            <a href="https://www.campus.utad.pt/omeuperfil/Perfil/AlterarDadosPessoais">
                O Meu Perfil
            </a>

            <span>|</span>
        }

        <a href=@Url.Action("Logout", "Session")>
            <span class="fa fa-sign-out"></span>
            Terminar Sessão
        </a>
    </div>
</div>
