﻿@model IEnumerable<StreamingAssemblies.Models.Azure.AzureVirtualMachine>

@{
    ViewBag.Title = "Servidores de streaming";
}

<h2>@ViewBag.Title</h2>

<hr />

<p>
    <a class="btn btn-primary" href="javascript:location.reload(true);">
        <span class="fa fa-refresh"></span>
        Atualizar
    </a>
</p>

@if (Model.Count() > 0)
{
    <table id="vms" class="table">
        <tr>
            <th>
                @Html.DisplayName("Nome")
            </th>
            <th>
                @Html.DisplayName("Estado")
            </th>
            <th>
                @Html.DisplayName("URL do plugin de vídeo")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr class="vmLine" data-id="@item.Id" data-name="@item.DisplayName">
        <td>
            @Html.DisplayFor(modelItem => item.DisplayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PowerStateString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PluginUrl)
        </td>
        <td style="text-align: right">
            <a class="btn btn-primary @(@item.CanStart ? "" : "disabled")" href="@Url.Action("Start", "Azure", new { id = item.Id, returnTo = "Index" })">
                <span class="fa fa-play"></span>
                Iniciar
            </a>
            <button class="btn btn-danger @(@item.CanStop ? "" : "disabled")" data-toggle="modal" data-target="#stopVmModal">
                <span class="fa fa-stop"></span>
                Parar
            </button>
        </td>
    </tr>
        }

    </table>

    <div class="modal fade" id="stopVmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="stopVmModalContent" class="modal-content">

            </div>
        </div>
    </div>
}
else
{
    <p>
        <b>Não existem máquinas virtuais para apresentar.</b>
    </p>
}

<script>
    $(document).ready(function () {
        let getVmLine = function (btn) {
            if (btn) {
                return $(btn).closest(".vmLine");
            }

            return null;
        }

        $("#stopVmModal").on("show.bs.modal", function (event) {
            let stopVmModalButton = $(event.relatedTarget);

            if (stopVmModalButton.hasClass("disabled")) {
                event.preventDefault();
                return;
            }

            let vmLine = getVmLine(stopVmModalButton);

            let vmId = vmLine.data("id");
            let vmName = vmLine.data("name");

            if (vmId) {
                $("#stopVmModalContent").load("@Url.Action("LoadStopVmPartial", "Azure")", { id: vmId, name: vmName, returnTo: "Index" });
            }
        });

        $(".startBtn").on("click", function (event) {
            let btn = $(this);

            if (btn.hasClass("disabled")) {
                event.preventDefault();
                return;
            }

            let vmLine = getVmLine(btn);

            $.post("@Url.Action("Start", "Azure")", { id: vmLine.data().id }, function () {
                location.reload();
            });
        });
    });
</script>
