﻿@model IEnumerable<StreamingAssemblies.Models.Azure.AzureVirtualMachine>

@{
    ViewBag.Title = "Gerir servidores";
}

<h2>@ViewBag.Title</h2>

<hr />

<p>
    <a class="btn btn-primary" href="@Url.Action("CreateVm", "Azure")">
        <span class="fa fa-plus"></span>
        Adicionar máquina virtual
    </a>

    <a class="btn btn-primary" href="javascript:location.reload(true);">
        <span class="fa fa-refresh"></span>
        Atualizar
    </a>
</p>

@if (Model.Count() > 0)
{
    <table id="vms" class="table">
        <tr>
            <th>
                @Html.DisplayName("Nome")
            </th>
            <th>
                @Html.DisplayName("Estado")
            </th>
            <th>
                @Html.DisplayName("URL do plugin de vídeo")
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="vmLine" data-id="@item.Id" data-name="@item.DisplayName">
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PowerStateString)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PluginUrl)
                </td>
                <td>
                    @if (item.IsActive)
                    {
                        <a class="btn btn-primary btn-static btn-info">
                            <span class="fa fa-check-circle"></span>
                            Ativo
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-primary btn-static btn-danger">
                            <span class="fa fa-times-circle"></span>
                            Inativo
                        </a>
                    }
                </td>
                <td style="text-align: right">
                    <a class="btn btn-primary @(@item.CanStart ? "" : "disabled")" href="@Url.Action("Start", "Azure", new { id = item.Id, returnTo = "Manage" })">
                        <span class="fa fa-play"></span>
                        Iniciar
                    </a>
                    <button class="btn btn-danger @(@item.CanStop ? "" : "disabled")" data-toggle="modal" data-target="#stopVmModal">
                        <span class="fa fa-stop"></span>
                        Parar
                    </button>
                </td>
                <td style="text-align: right">
                    <a class="btn btn-primary" href="@Url.Action("EditVm", "Azure", new { id = item.Id })">
                        <span class="fa fa-edit"></span>
                        Editar
                    </a>
                    @if (item.IsActive)
                    {
                        <a class="btn btn-primary btn-danger" href="@Url.Action("SetInactive", "Azure", new { id = item.Id })">
                            <span class="fa fa-times-circle"></span>
                            Desativar
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-primary btn-info" href="@Url.Action("SetActive", "Azure", new { id = item.Id })">
                            <span class="fa fa-check-circle"></span>
                            Ativar
                        </a>
                    }
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteVmModal">
                        <span class="fa fa-trash"></span>
                        Eliminar
                    </button>
                </td>
            </tr>
        }

    </table>

    <div class="modal fade" id="stopVmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="stopVmModalContent" class="modal-content">

            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteVmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="deleteVmModalContent" class="modal-content">

            </div>
        </div>
    </div>
}
else
{
    <p>
        <b>Não existem máquinas virtuais para apresentar.</b>
    </p>
}

<script>
    $(document).ready(function () {
        let getVmLine = function (btn) {
            if (btn) {
                return $(btn).closest(".vmLine");
            }

            return null;
        }

        $("#stopVmModal").on("show.bs.modal", function (event) {
            let stopVmModalButton = $(event.relatedTarget);

            if (stopVmModalButton.hasClass("disabled")) {
                event.preventDefault();
                return;
            }

            let vmLine = getVmLine(stopVmModalButton);

            let vmId = vmLine.data("id");
            let vmName = vmLine.data("name");

            if (vmId) {
                $("#stopVmModalContent").load("@Url.Action("LoadStopVmPartial", "Azure")", { id: vmId, name: vmName, returnTo: "Manage" });
            }
        });


        $("#deleteVmModal").on("show.bs.modal", function (event) {
            let stopVmModalButton = $(event.relatedTarget);

            if (stopVmModalButton.hasClass("disabled")) {
                event.preventDefault();
                return;
            }

            let vmLine = getVmLine(stopVmModalButton);

            let vmId = vmLine.data("id");
            let vmName = vmLine.data("name");

            if (vmId) {
                $("#deleteVmModalContent").load("@Url.Action("LoadDeleteVmPartial", "Azure")", { id: vmId, name: vmName, returnTo: "Manage" });
            }
        });

        $(".startBtn").on("click", function (event) {
            let btn = $(this);

            if (btn.hasClass("disabled")) {
                event.preventDefault();
                return;
            }

            let vmLine = getVmLine(btn);

            $.post("@Url.Action("Start", "Azure")", { id: vmLine.data().id }, function () {
                location.reload();
            });
        });
    });
</script>
