@model StreamingAssemblies.Models.Azure.AzureStopDeleteVmModel

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Tem a certeza?</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nome")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VmName)
        </dd>

    </dl>
</div>
<div class="modal-footer">
    @using (Html.BeginForm("Stop", "Azure", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(x => Model.Id)

        <div class="form-actions no-color">
            <input type="submit" value="Parar" class="btn btn-danger" />
        </div>
    }
</div>