﻿@model IEnumerable<Streaming.ViewModels.AzureLogViewModel>

@{
    ViewBag.Title = "Logs";
}

<h2>@ViewBag.Title</h2>

<hr />

<p>
    <a class="btn btn-primary" href="javascript:location.reload(true);">
        <span class="fa fa-refresh"></span>
        Atualizar
    </a>
</p>

@if (Model.Count() > 0)
{
    <table id="vms" class="table">
        <tr>
            <th>
                @Html.DisplayName("Username")
            </th>
            <th>
                @Html.DisplayName("Nome completo")
            </th>
            <th>
                @Html.DisplayName("Data")
            </th>
            <th>
                @Html.DisplayName("Mensagem")
            </th>
            <th>
                @Html.DisplayName("Nome da VM")
            </th>
            <th>
                @Html.DisplayName("Ação")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="vmLine">
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VmName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Action)
                </td>
            </tr>
        }

    </table>
}
else
{
    <p>
        <b>Não existem logs para apresentar.</b>
    </p>
}
