@model Streaming.ViewModels.CreateEditAutorizacaoViewModel

@{
    ViewBag.Title = "Criar Autorização";
}

<h2>Criar Autorização</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Autorização</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Nome HTML do item", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Autorizacao.ItemName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Autorizacao.ItemName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("URL da página onde se encontra o item", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Autorizacao.Pagina, new { htmlAttributes = new { @class = "form-control" } })
                <small class="form-text text-muted">
                    Introduza um URL no formato "Controller/View". Por ex: "Home/Index". <br />
                    Se não introduzir nenhum URL, significa que o item pertence ao menu lateral.
                </small>
            </div>
        </div>

        <br />

        <h4>Grupos</h4>
        <hr />

        <div class="form-group">
            @Html.Label("Seleccione Grupos da tabela", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.GruposList.Count > 0)
                {
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayName("Nome do Grupo")
                            </th>
                            <th>
                                @Html.DisplayName("Tipo de Grupo")
                            </th>
                            <th>
                                @Html.DisplayName("Descrição do Grupo")
                            </th>
                            <th>
                                @Html.DisplayName("Pode ver este item")
                            </th>
                        </tr>

                        @for (int i = 0; i < Model.GruposList.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.GruposList[i].Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.GruposList[i].NomeTipo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.GruposList[i].Descricao)
                                </td>
                                <td style="text-align: center">
                                    @Html.HiddenFor(modelItem => Model.GruposList[i].Id)
                                    @Html.CheckBoxFor(modelItem => Model.GruposList[i].Checked, new { @class = "form-check-input" })
                                </td>
                            </tr>
                        }

                    </table>
                }
                else
                {
                    <p>
                        <b>Não existem grupos para apresentar! Crie primeiro um grupo.</b>
                    </p>
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-danger" href="@Url.Action("Autorizacoes", "Admin")">
                    <span class="fa fa-arrow-circle-left"></span>
                    Cancelar
                </a>
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
