@model StreamingAssemblies.Models.Streaming.Autorizacao

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Tem a certeza?</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nome HTML do item")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayName("URL da página onde se encontra o item")
        </dt>

        <dd>
            @if (string.IsNullOrEmpty(Model.Pagina) == true)
            {
                <span>Item pertence ao menu lateral</span>
            }
            else
            {
                @Html.DisplayFor(model => model.Pagina)
            }
        </dd>

    </dl>
</div>
<div class="modal-footer">
    @using (Html.BeginForm("DeleteAutorizacao", "Admin", new { id = Model.Id }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    }
</div>
