@model StreamingAssemblies.Models.Streaming.Parametro

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Tem a certeza?</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Chave Identificadora")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        @if (string.IsNullOrEmpty(Model.Valor1) == false)
        {
            <dt>
                @Html.DisplayName("Valor Adicional 1")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Valor1)
            </dd>
        }

        @if (string.IsNullOrEmpty(Model.Valor2) == false)
        {
            <dt>
                @Html.DisplayName("Valor Adicional 2")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Valor2)
            </dd>
        }

    </dl>
</div>
<div class="modal-footer">
    @using (Html.BeginForm("DeleteParametro", "Admin", new { id = Model.Id }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    }
</div>
