@model Streaming.ViewModels.CreateEditGrupoCargoViewModel

@{
    ViewBag.Title = "Editar Grupo - Cargo";
}

<h2>Editar Grupo - Cargo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Grupo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Grupo.Id)

        <div class="form-group">
            @Html.Label("Tipo de Cargo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Grupo.Nome, new SelectList(Model.TiposCargosList, "Nome", "Nome"), "Por favor seleccione um tipo de cargo para o grupo", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Grupo.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Descrição do Grupo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Grupo.Descricao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Grupo.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-danger" href="@Url.Action("GruposCargos", "Admin")">
                    <span class="fa fa-arrow-circle-left"></span>
                    Cancelar
                </a>
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $("#Grupo_Nome").change(function () {
            var selectedTipoCargo = $("#Grupo_Nome").val();

            if (selectedTipoCargo != "") {
                $("#Grupo_Descricao").val("Este grupo contém todos os utilizadores com Cargo de " + selectedTipoCargo);
            }
            else {
                $("#Grupo_Descricao").val("");
            }
        });
    });
</script>
