@model Streaming.ViewModels.CreateEditGrupoViewModel

@{
    ViewBag.Title = "Editar Grupo";
}

<h2>Editar Grupo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Grupo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Grupo.Id)

        <div class="form-group">
            @Html.Label("Nome do Grupo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Grupo.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Grupo.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Descrição do Grupo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Grupo.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Grupo.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />

        <h4>Utilizadores</h4>
        <hr />

        <div class="form-group">
            @Html.Label("Seleccione utilizadores da tabela", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.UsersList.Count > 0)
                {
                    <table class="table" id="usersGrupoTable">
                        <tr>
                            <th>
                                @Html.DisplayName("Nome de Utilizador")
                            </th>
                            <th>
                                @Html.DisplayName("IUPI")
                            </th>
                            <th>
                                @Html.DisplayName("Nome")
                            </th>
                            <th>
                                @Html.DisplayName("Data da Última Autenticação")
                            </th>
                            <th>
                                @Html.DisplayName("Pertence à UTAD")
                            </th>
                            <th>
                                @Html.DisplayName("Pertence ao Grupo")
                            </th>
                        </tr>

                        @foreach(var item in Model.UsersList)
                        {
                            <tr id="@string.Concat("usersGrupoTableRow", item.Index)">
                                @{ 
                                    Html.RenderPartial("UserGrupoPartial", item);
                                }
                            </tr>
                        }

                    </table>
                }
                else
                {
                    <p>
                        <b>Não existem utilizadores para apresentar!</b>
                    </p>
                }
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ou digite um nome de utilizador válido para adicionar o respetivo utilizador ao grupo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group mb-3">
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                    <div class="input-group-append">
                        <button id="createUserForGrupo" class="btn btn-secondary" type="button">
                            Validar e Adicionar Utilizador ao Grupo
                        </button>
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger", @id = "UsernameValidationMessage" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-danger" href="@Url.Action("Grupos", "Admin")">
                    <span class="fa fa-arrow-circle-left"></span>
                    Cancelar
                </a>
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $("#createUserForGrupo").click(function () {
            var username = $("#Username").val();

            if (username != null && username != "") {
                $("#UsernameValidationMessage").text("");

                var usersGrupoTable = document.getElementById("usersGrupoTable");
                var usersGrupoTableRowCount = usersGrupoTable.rows.length;

                $.post("@Url.Action("CreateUserForUserGrupoPartial", "Admin")", { index: usersGrupoTableRowCount - 1, username: username }, function (data) {
                    if (data != "") {
                        var usersGrupoTableRow = usersGrupoTable.insertRow(usersGrupoTableRowCount);

                        usersGrupoTableRow.id = "usersGrupoTableRow" + usersGrupoTableRowCount;

                        $("#usersGrupoTableRow" + usersGrupoTableRowCount).load("@Url.Action("LoadUserGrupoPartial", "Admin")", { user: data }, function () {
                            usernameInput.value = "";
                        }).hide().fadeIn("slow");
                    }
                    else {
                        $("#UsernameValidationMessage").text("O nome de utilizador introduzido não é válido ou ocorreu um erro!");
                    }
                });
            }
            else {
                $("#UsernameValidationMessage").text("Tem de preencher este campo!");
            }
        });
    });
</script>
