@model Streaming.ViewModels.CreateEditMensagemViewModel

@{
    ViewBag.Title = "Editar Mensagem";
}

<h2>Editar Mensagem</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Mensagem</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Mensagem.Id)

        <div class="form-group">
            @Html.Label("Título", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mensagem.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mensagem.Titulo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Texto (Simples e/ou HTML)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Mensagem.Texto, 5, 20, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Mensagem.Texto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.Label("Data de Início da Publicação", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Mensagem.DataPublicacaoInicio, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Mensagem.DataPublicacaoInicio, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group">
                    @Html.Label("Hora de Início da Publicação", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.HoraPublicacaoInicio, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HoraPublicacaoInicio, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.Label("Data de Fim da Publicação", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Mensagem.DataPublicacaoFim, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Mensagem.DataPublicacaoFim, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group">
                    @Html.Label("Hora de Fim da Publicação", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.HoraPublicacaoFim, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HoraPublicacaoFim, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mensagem.Visibilidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Mensagem.Visibilidade, new SelectList(Model.VisibilidadesList, "Id", "Nome"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Mensagem.Visibilidade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="gruposMensagemTable" style="display: none">
            <br />

            <h4>Grupos</h4>
            <hr />

            <div class="form-group">
                @Html.Label("Seleccione Grupos da tabela", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @if (Model.GruposList.Count > 0)
                    {
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayName("Nome do Grupo")
                                </th>
                                <th>
                                    @Html.DisplayName("Tipo de Grupo")
                                </th>
                                <th>
                                    @Html.DisplayName("Descrição do Grupo")
                                </th>
                                <th>
                                    @Html.DisplayName("Pode ver esta Mensagem")
                                </th>
                            </tr>

                            @for (int i = 0; i < Model.GruposList.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.GruposList[i].Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.GruposList[i].NomeTipo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.GruposList[i].Descricao)
                                    </td>
                                    <td style="text-align: center">
                                        @Html.HiddenFor(modelItem => Model.GruposList[i].Id)
                                        @Html.CheckBoxFor(modelItem => Model.GruposList[i].Checked, new { @class = "form-check-input" })
                                    </td>
                                </tr>
                            }

                        </table>
                    }
                    else
                    {
                        <p>
                            <b>Não existem grupos para apresentar! Crie primeiro um grupo.</b>
                        </p>
                    }
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-danger" href="@Url.Action("Mensagens", "Admin")">
                    <span class="fa fa-arrow-circle-left"></span>
                    Cancelar
                </a>
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        if ($('#Mensagem_Visibilidade').val() == 2) {
            $('#gruposMensagemTable').show();
        }

        $('#Mensagem_Visibilidade').change(function () {
            if ($('#Mensagem_Visibilidade').val() == 2) {
                $('#gruposMensagemTable').show();
            }
            else {
                $('#gruposMensagemTable').hide();
            }
        });
    });
</script>
