@model IEnumerable<StreamingAssemblies.Models.Streaming.Grupo>

@{
    ViewBag.Title = "Grupos - Cargos";
}

<h2>Grupos - Cargos</h2>

<hr />

<p>
    <a class="btn btn-primary" href="@Url.Action("CreateGrupoCargo", "Admin")">
        <span class="fa fa-plus"></span>
        Criar Grupo - Cargo
    </a>
</p>
@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Tipo de Cargo")
            </th>
            <th>
                @Html.DisplayName("Descrição do Grupo")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td style="text-align: right">
                    <a class="btn btn-primary" href="@Url.Action("EditGrupoCargo", "Admin", new { id = item.Id })">
                        <span class="fa fa-edit"></span>
                        Editar
                    </a>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteGrupoCargoModal" data-id="@item.Id">
                        <span class="fa fa-trash"></span>
                        Eliminar
                    </button>
                </td>
            </tr>
        }

    </table>

    <div class="modal fade" id="deleteGrupoCargoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="deleteGrupoCargoModalContent" class="modal-content">

            </div>
        </div>
    </div>
}
else
{
    <p>
        <b>Não existem grupos para apresentar!</b>
    </p>
}

<script>
    $(document).ready(function () {
        $("#deleteGrupoCargoModal").on("show.bs.modal", function (event) {
            var deleteGrupoCargoModalButton = $(event.relatedTarget);
            var grupoCargoID = deleteGrupoCargoModalButton.data("id");

            $("#deleteGrupoCargoModalContent").load("@Url.Action("LoadDeleteGrupoCargoPartial", "Admin")", { id: grupoCargoID });
        });
    });
</script>
