@model IEnumerable<StreamingAssemblies.Models.Streaming.Grupo>

@{
    ViewBag.Title = "Grupos";
}

<h2>Grupos</h2>

<hr />

<p>
    <a class="btn btn-primary" href="@Url.Action("CreateGrupo", "Admin")">
        <span class="fa fa-plus"></span>
        Criar Grupo
    </a>
</p>
@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Nome do Grupo")
            </th>
            <th>
                @Html.DisplayName("Descrição do Grupo")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td style="text-align: right">
                    <a class="btn btn-primary" href="@Url.Action("EditGrupo", "Admin", new { id = item.Id })">
                        <span class="fa fa-edit"></span>
                        Editar
                    </a>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteGrupoModal" data-id="@item.Id">
                        <span class="fa fa-trash"></span>
                        Eliminar
                    </button>
                </td>
            </tr>
        }

    </table>

    <div class="modal fade" id="deleteGrupoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="deleteGrupoModalContent" class="modal-content">

            </div>
        </div>
    </div>
}
else
{
    <p>
        <b>Não existem grupos para apresentar!</b>
    </p>
}

<script>
    $(document).ready(function () {
        $("#deleteGrupoModal").on("show.bs.modal", function (event) {
            var deleteGrupoModalButton = $(event.relatedTarget);
            var grupoID = deleteGrupoModalButton.data("id");

            $("#deleteGrupoModalContent").load("@Url.Action("LoadDeleteGrupoPartial", "Admin")", { id: grupoID });
        });
    });
</script>
