@model IEnumerable<StreamingAssemblies.Models.Streaming.Grupo>

@{
    ViewBag.Title = "Grupos - Perfis";
}

<h2>Grupos - Perfis</h2>

<hr />

@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Nome do Tipo de Perfil")
            </th>
            <th>
                @Html.DisplayName("Descrição do Grupo")
            </th>
            <th>
                @Html.DisplayName("Possui Permissões")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @if (item.Checked == true)
                    {
                        <span class="text-success"><b>Sim</b></span>
                    }
                    else
                    {
                        <span class="text-danger"><b>Não</b></span>
                    }
                </td>
                <td style="text-align: right">
                    @if (item.Checked == true)
                    {
                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteGrupoPerfilModal" data-id="@item.Id">
                            <span class="fa fa-ban"></span>
                            Remover Permissões
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-primary" data-toggle="modal" data-target="#createGrupoPerfilModal" data-id="@item.Nome">
                            <span class="fa fa-check"></span>
                            Dar Permissões
                        </button>
                    }
                </td>
            </tr>
        }

    </table>

    <div class="modal fade" id="createGrupoPerfilModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="createGrupoPerfilModalContent" class="modal-content">

            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteGrupoPerfilModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="deleteGrupoPerfilModalContent" class="modal-content">

            </div>
        </div>
    </div>
}
else
{
    <p>
        <b>Não existem tipos de perfil para apresentar!</b>
    </p>
}

<script>
    $(document).ready(function () {
        $("#createGrupoPerfilModal").on("show.bs.modal", function (event) {
            var createGrupoPerfilModalButton = $(event.relatedTarget);
            var grupoPerfilNome = createGrupoPerfilModalButton.data("id");

            $("#createGrupoPerfilModalContent").load("@Url.Action("LoadCreateGrupoPerfilPartial", "Admin")", { nome: grupoPerfilNome });
        });

        $("#deleteGrupoPerfilModal").on("show.bs.modal", function (event) {
            var deleteGrupoPerfilModalButton = $(event.relatedTarget);
            var grupoPerfilID = deleteGrupoPerfilModalButton.data("id");

            $("#deleteGrupoPerfilModalContent").load("@Url.Action("LoadDeleteGrupoPerfilPartial", "Admin")", { id: grupoPerfilID });
        });
    });
</script>
