@model IEnumerable<StreamingAssemblies.Models.QuoVadis.Mensagens.Mensagem>

@{
    ViewBag.Title = "Mensagens";
}

<h2>Mensagens</h2>

<hr />

<p>
    <a class="btn btn-primary" href="@Url.Action("CreateMensagem", "Admin")">
        <span class="fa fa-plus"></span>
        Criar Mensagem
    </a>
</p>
@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Título")
            </th>
            <th>
                @Html.DisplayName("Data de Início da Publicação")
            </th>
            <th>
                @Html.DisplayName("Data de Fim da Publicação")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visibilidade)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPublicacaoInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPublicacaoFim)
                </td>
                <td>
                    @if (item.Visibilidade == 2)
                    {
                        <span class="text-warning"><b>Mensagem Para Utilizadores Autenticados</b></span>
                    }

                    @if (item.Visibilidade == 3)
                    {
                        <span class="text-success"><b>Mensagem Pública</b></span>
                    }
                </td>
                <td style="text-align: right">
                    <a class="btn btn-primary" href="@Url.Action("EditMensagem", "Admin", new { id = item.Id })">
                        <span class="fa fa-edit"></span>
                        Editar
                    </a>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteMensagemModal" data-id="@item.Id">
                        <span class="fa fa-trash"></span>
                        Eliminar
                    </button>
                </td>
            </tr>
        }

    </table>

    <div class="modal fade" id="deleteMensagemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="deleteMensagemModalContent" class="modal-content">

            </div>
        </div>
    </div>
}
else
{
    <p>
        <b>Não existem mensagens para apresentar!</b>
    </p>
}

<script>
    $(document).ready(function () {
        $("#deleteMensagemModal").on("show.bs.modal", function (event) {
            var deleteMensagemModalButton = $(event.relatedTarget);
            var mensagemID = deleteMensagemModalButton.data("id");

            $("#deleteMensagemModalContent").load("@Url.Action("LoadDeleteMensagemPartial", "Admin")", { id: mensagemID });
        });
    });
</script>
