@model StreamingAssemblies.Models.Streaming.User

<td>
    @Html.Hidden("UsersList[" + Model.Index + "].Username", Model.Username)
    @Html.DisplayFor(modelItem => Model.Username)
</td>
<td>
    @Html.Hidden("UsersList[" + Model.Index + "].IUPI", Model.IUPI)
    @Html.DisplayFor(modelItem => Model.IUPI)
</td>
<td>
    @Html.Hidden("UsersList[" + Model.Index + "].Nome", Model.Nome)
    @Html.DisplayFor(modelItem => Model.Nome)
</td>
<td>
    @Html.Hidden("UsersList[" + Model.Index + "].LastLoginDate", Model.LastLoginDate)
    @if (Model.LastLoginDate != null && Model.LastLoginDate != new DateTime())
    {
        @Html.DisplayFor(modelItem => Model.LastLoginDate)
    }
    else
    {
        <span class="text-warning"><b>Ainda não se autenticou</b></span>
    }
</td>
<td>
    @Html.Hidden("UsersList[" + Model.Index + "].IsFromUTAD", Model.IsFromUTAD)
    @if (Model.IsFromUTAD == true)
    {
        <span class="text-success"><b>Sim</b></span>
    }
    else
    {
        <span class="text-danger"><b>Não (Credenciais Temporárias)</b></span>
    }
</td>
<td style="text-align: center">
    @Html.Hidden("UsersList[" + Model.Index + "].Id", Model.Id)
    @Html.CheckBox("UsersList[" + Model.Index + "].Checked", Model.Checked, new { @class = "form-check-input" })
</td>
