@using System.Configuration;

@using Streaming.ViewModels;

@{
    ViewBag.Title = ConfigurationManager.AppSettings["Aplicacao.Titulo"];

    BaseViewModel LayoutModel = (BaseViewModel)ViewData["LayoutModel"];
}

<div class="row" style="padding-top: 10px;">
    <div class="offset-md-2 col-md-8">
        <div class="card">
            <div class="card-header portalbase-mensagem-card-header text-center">
                <h1>@ConfigurationManager.AppSettings["Aplicacao.Titulo"]</h1>
            </div>
        </div>

        @if (LayoutModel.MensagensList.Count > 0)
        {
            <div class="card">
                <div class="card-header portalbase-mensagem-card-header text-center">
                    Mensagens da Aplicação
                </div>
            </div>

            <br />

            foreach (var item in LayoutModel.MensagensList)
            {
                <div class="card">
                    <div class="card-header portalbase-mensagem-card-header">
                        <span class="fa fa-envelope"></span>
                        @item.Titulo
                        <button type="button" class="close" data-toggle="collapse" data-target="@string.Concat("#mensagem", item.Id)" aria-label="Fechar">
                            <span aria-hidden="true" class="fa fa-angle-double-down"></span>
                        </button>
                    </div>
                    <div id="@string.Concat("mensagem", item.Id)" class="collapse show">
                        <div class="card-body">
                            @Html.Raw(item.Texto)
                        </div>
                    </div>
                    @if (item.DataPublicacaoInicio != null)
                    {
                        <div class="card-footer">
                            <div>Publicada em @item.DataPublicacaoInicio</div>
                        </div>
                    }
                </div>

                <br />
            }
        }
        else
        {

        }
    </div>
</div>
