@using Streaming.ViewModels;

@{
    ViewBag.Title = "Teste de Autorizações";

    BaseViewModel LayoutModel = ViewData["LayoutModel"] as BaseViewModel;

    bool isTestFuncAuthorized = LayoutModel.CheckAutorizacoesListForItem("TestFuncButton", "Home/TestAutorizacoes");
    bool isTestDocAuthorized = LayoutModel.CheckAutorizacoesListForItem("TestDocButton", "Home/TestAutorizacoes");
}

<h2>Teste de Autorizações</h2>

<hr />

<div class="row">
    <div class="col-md-6">
        @if (isTestFuncAuthorized == true)
        {
            <button id="testFuncButton" class="btn btn-block btn-primary">Funcionários</button>
        }
    </div>

    <div class="col-md-6">
        @if (isTestDocAuthorized == true)
        {
            <button id="testDocButton" class="btn btn-block btn-primary">Docentes</button>
        }
    </div>
</div>

<br />

@if (isTestFuncAuthorized == true)
{
    <p id="testFuncText" class="d-none">Este utilizador tem permissões de Funcionário dentro do Streaming.</p>
}

@if (isTestDocAuthorized == true)
{
    <p id="testDocText" class="d-none">Este utilizador tem permissões de Docente dentro do Streaming.</p>
}

<script>
    $(document).ready(function () {
        $("#testFuncButton").click(function () {
            $("#testFuncText").toggleClass("d-none").hide().fadeIn("fast");
        });

        $("#testDocButton").click(function () {
            $("#testDocText").toggleClass("d-none").hide().fadeIn("fast");
        });
    });
</script>

