@model Streaming.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Iniciar Sessão - Administradores";
}

<br>
<br>
<br>
<br>
<br>
<br>

<div class="row">
    <div class="offset-md-4 col-md-4">
        <div class="card border-info">
            <div class="card-header text-info">
                <h3>Autenticação - Administradores <span style="font-size: 13px">(*utad.pt/*utad.eu)</span></h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.LoginCredenciais.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome de Utilizador (sem @utad.pt ou @utad.eu)" } })
                                @Html.ValidationMessageFor(model => model.LoginCredenciais.Username, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.PasswordFor(model => model.LoginCredenciais.Password, new { @class = "form-control", @placeholder = "Palavra-Passe" })
                                @Html.ValidationMessageFor(model => model.LoginCredenciais.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Entrar" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
